<table id="Tabella_01" width="600" height="879" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/ru_RU/img/newsletter_2_01.jpg" width="600" height="50" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/ru_RU/img/newsletter_2_02.jpg" width="600" height="268"
				 alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/ru_RU/img/newsletter_2_03.jpg" width="600" height="152"
				 alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://lesmonstres.ninaricci.com/ru_RU/img/newsletter_2_04.jpg" width="74" height="49" alt=""></td>
		<td>
			<a href="http://lesmonstres.ninaricci.com/ru-RU/step1.html">
				<img src="http://lesmonstres.ninaricci.com/ru_RU/img/newsletter_2_05.jpg" width="217" height="49"
					 border="0" alt=""></a></td>
		<td>
			<img src="http://lesmonstres.ninaricci.com/ru_RU/img/newsletter_2_06.jpg" width="20" height="49" alt=""></td>
		<td>
			<a href="http://www.instagram.com/ninaricciparfums">
				<img src="http://lesmonstres.ninaricci.com/ru_RU/img/newsletter_2_07.jpg" width="217" height="49"
					 border="0" alt=""></a></td>
		<td>
			<img src="http://lesmonstres.ninaricci.com/ru_RU/img/newsletter_2_08.jpg" width="72" height="49" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/ru_RU/img/newsletter_2_09.jpg" width="600" height="282"
				 alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://lesmonstres.ninaricci.com/ru_RU/img/newsletter_2_10.jpg" width="74" height="21" alt=""></td>
		<td colspan="3">
			<img src="http://lesmonstres.ninaricci.com/ru_RU/img/newsletter_2_11.jpg" width="454" height="21" alt=""></td>
		<td>
			<img src="http://lesmonstres.ninaricci.com/ru_RU/img/newsletter_2_12.jpg" width="72" height="21" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/ru_RU/img/newsletter_2_13.jpg" width="600" height="57" alt=""></td>
	</tr>
</table>
