
<table id="Tabella_01" width="600" height="879" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/fr_FR/img/newsletter_01.jpg" width="600" height="120" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/fr_FR/img/newsletter_02.jpg" width="600" height="198" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/fr_FR/img/newsletter_03.jpg" width="600" height="152" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://lesmonstres.ninaricci.com/fr_FR/img/newsletter_04.jpg" width="74" height="49" alt=""></td>
		<td>
			<a href="http://lesmonstres.ninaricci.com/fr_FR/step1.html">
				<img src="http://lesmonstres.ninaricci.com/fr_FR/img/newsletter_2_05.jpg" width="217" height="49" border="0" alt=""></a></td>
		<td>
			<img src="http://lesmonstres.ninaricci.com/fr_FR/img/newsletter_06.jpg" width="20" height="49" alt=""></td>
		<td>
			<a href="http://www.instagram.com/ninaricciparfums">
				<img src="http://lesmonstres.ninaricci.com/fr_FR/img/newsletter_2_07.jpg" width="217" height="49" border="0" alt=""></a></td>
		<td>
			<img src="http://lesmonstres.ninaricci.com/fr_FR/img/newsletter_08.jpg" width="72" height="49" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/fr_FR/img/newsletter_09.jpg" width="600" height="282" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://lesmonstres.ninaricci.com/fr_FR/img/newsletter_10.jpg" width="74" height="21" alt=""></td>
		<td colspan="3">
			<img src="http://lesmonstres.ninaricci.com/fr_FR/img/newsletter_11.jpg" width="454" height="21" alt=""></td>
		<td>
			<img src="http://lesmonstres.ninaricci.com/fr_FR/img/newsletter_12.jpg" width="72" height="21" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/fr_FR/img/newsletter_13.jpg" width="600" height="57" alt=""></td>
	</tr>
</table>
