<table id="Tabella_01" width="600" height="879" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/ru_RU/img/video_01.jpg" width="600" height="318" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/ru_RU/img/video_02.jpg" width="600" height="152" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://lesmonstres.ninaricci.com/ru_RU/img/video_03.jpg" width="74" height="49" alt=""></td>
		<td>
				<img src="http://lesmonstres.ninaricci.com/ru_RU/img/newsletter_2_07_01.jpg" width="117" height="49" border="0" alt=""></td>
		<td>
			<a href="http://lesmonstres.ninaricci.com/ru_RU/step1.html">
				<img src="http://lesmonstres.ninaricci.com/ru_RU/img/newsletter_2_07_02.jpg" width="218" height="49" border="0" alt=""></a></td>
		<td>
				<img src="http://lesmonstres.ninaricci.com/ru_RU/img/newsletter_2_07_03.jpg" width="119" height="49" border="0" alt=""></td>
		<td>
			<img src="http://lesmonstres.ninaricci.com/ru_RU/img/video_07.jpg" width="72" height="49" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/ru_RU/img/video_08.jpg" width="600" height="282" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://lesmonstres.ninaricci.com/ru_RU/img/video_09.jpg" width="74" height="21" alt=""></td>
		<td colspan="3">
		<a href="http://www.instagram.com/ninaricciparfums">
			<img src="http://lesmonstres.ninaricci.com/ru_RU/img/video_10.jpg" width="454" height="21" alt=""></a></td>
		<td>
			<img src="http://lesmonstres.ninaricci.com/ru_RU/img/video_11.jpg" width="72" height="21" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">

			<img src="http://lesmonstres.ninaricci.com/ru_RU/img/video_12.jpg" width="600" height="57" alt=""></td>
	</tr>
</table>
