<table id="Tabella_01" width="600" height="879" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/es_MX/img/video_2_01.jpg" width="600" height="318" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/es_MX/img/video_2_02.jpg" width="600" height="152" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://lesmonstres.ninaricci.com/es_MX/img/video_2_03.jpg" width="74" height="49" alt=""></td>
		<td>
			<a href="http://lesmonstres.ninaricci.com/es_MX/step1.html">
				<img src="http://lesmonstres.ninaricci.com/es_MX/img/video_2_07_01.jpg" width="217" height="49" border="0" alt=""></a></td>
		<td>

				<img src="http://lesmonstres.ninaricci.com/es_MX/img/video_2_07_02.jpg" width="20" height="49" border="0" alt=""></td>
		<td>
			<a href="http://www.instagram.com/ninaricciparfums">
				<img src="http://lesmonstres.ninaricci.com/es_MX/img/video_2_07_03.jpg" width="217" height="49" border="0" alt=""></a></td>
		<td>
			<img src="http://lesmonstres.ninaricci.com/es_MX/img/video_2_07.jpg" width="72" height="49" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/es_MX/img/video_2_08.jpg" width="600" height="282" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://lesmonstres.ninaricci.com/es_MX/img/video_2_09.jpg" width="74" height="21" alt=""></td>
		<td colspan="3">
			<img src="http://lesmonstres.ninaricci.com/es_MX/img/video_2_10.jpg" width="454" height="21" alt=""></td>
		<td>
			<img src="http://lesmonstres.ninaricci.com/es_MX/img/video_2_11.jpg" width="72" height="21" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/es_MX/img/video_2_12.jpg" width="600" height="57" alt=""></td>
	</tr>
</table>
