
<table id="Tabella_01" width="600" height="879" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/fr_FR/img/newsletter_01.jpg" width="600" height="120" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/fr_FR/img/newsletter_02.jpg" width="600" height="198" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/fr_FR/img/title-text.png" width="600" height="202" alt=""></td>
	</tr>
	<tr>
		<td width='600' height="74" colspan="5">
			<a href="http://lesmonstres.ninaricci.com/fr_FR/step1.html">
				<img src="http://lesmonstres.ninaricci.com/fr_FR/img/btn.png" width="600" height="74" border="0"
					 alt=""></a></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/fr_FR/img/newsletter_09__new.jpg" width="600" height="267"
				 alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://lesmonstres.ninaricci.com/fr_FR/img/newsletter_10.jpg" width="74" height="21" alt=""></td>
		<td colspan="3">
			<img src="http://lesmonstres.ninaricci.com/fr_FR/img/newsletter_11.jpg" width="454" height="21" alt=""></td>
		<td>
			<img src="http://lesmonstres.ninaricci.com/fr_FR/img/newsletter_12.jpg" width="72" height="21" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="http://lesmonstres.ninaricci.com/fr_FR/img/newsletter_13.jpg" width="600" height="57" alt=""></td>
	</tr>
</table>
