/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption {margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; font-size: 100%;}
ol, ul {list-style: none;}
article,aside,figcaption,figure,footer,header,hgroup,nav,section,time{display: block;}
/********************/



@font-face {font-family: "AvantGarde";
	src: url("../fonts/711e7550b49622195e4b8b6885d33010.eot"); /* IE9*/
	src: url("../fonts/711e7550b49622195e4b8b6885d33010.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../fonts/711e7550b49622195e4b8b6885d33010.woff2") format("woff2"), /* chrome、firefox */
	url("../fonts/711e7550b49622195e4b8b6885d33010.woff") format("woff"), /* chrome、firefox */
	url("../fonts/711e7550b49622195e4b8b6885d33010.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("../fonts/711e7550b49622195e4b8b6885d33010.svg#AvantGardeDemi") format("svg"); /* iOS 4.1- */
	font-weight: 500;
}

@font-face {font-family: "AvantGarde";
	src: url("../fonts/d589b644312f21052e45868a7c520fea.eot"); /* IE9*/
	src: url("../fonts/d589b644312f21052e45868a7c520fea.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../fonts/d589b644312f21052e45868a7c520fea.woff2") format("woff2"), /* chrome、firefox */
	url("../fonts/d589b644312f21052e45868a7c520fea.woff") format("woff"), /* chrome、firefox */
	url("../fonts/d589b644312f21052e45868a7c520fea.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("../fonts/d589b644312f21052e45868a7c520fea.svg#AvantGardeBook") format("svg"); /* iOS 4.1- */
	font-weight: normal;
}

/* @font-face {font-family: "AvantGarde";
	src: url("../fonts/c7ea39a2f35c128e4ee98f526d6003fe.eot"); IE9
	src: url("../fonts/c7ea39a2f35c128e4ee98f526d6003fe.eot?#iefix") format("embedded-opentype"), IE6-IE8
	url("../fonts/c7ea39a2f35c128e4ee98f526d6003fe.woff2") format("woff2"), chrome、firefox
	url("../fonts/c7ea39a2f35c128e4ee98f526d6003fe.woff") format("woff"), chrome、firefox
	url("../fonts/c7ea39a2f35c128e4ee98f526d6003fe.ttf") format("truetype"), chrome、firefox、opera、Safari, Android, iOS 4.2+
	url("../fonts/c7ea39a2f35c128e4ee98f526d6003fe.svg#AvantGardEF-Bold") format("svg"); iOS 4.1-
	font-weight: bold;
} */


@font-face {font-family: "AvantGarde";
  src: url("../fonts/6416cf3701af18ab2e371cbe15684cf9.eot"); /* IE9*/
  src: url("../fonts/6416cf3701af18ab2e371cbe15684cf9.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/6416cf3701af18ab2e371cbe15684cf9.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/6416cf3701af18ab2e371cbe15684cf9.woff") format("woff"), /* chrome、firefox */
  url("../fonts/6416cf3701af18ab2e371cbe15684cf9.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/6416cf3701af18ab2e371cbe15684cf9.svg#ITCAvantGardePro-Bold") format("svg"); /* iOS 4.1- */
  font-weight: bold;
}



*{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}

body{color: #000;font-size: 14px; background: url(../img/main_bg.png) repeat top center; font-family: "AvantGarde", Arial, sans-serif; overflow-x: hidden; background-attachment: fixed;}




.pull-left{float: left;}
.pull-right{float: right;}
.clearfix:before, .clearfix:after {content: " ";display: table;}
.clearfix:after {clear: both;}
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}

.visible-mobile{display: none;}

.center-img{position: relative; left: 50%; margin-top: 75px; margin-bottom: 25px; max-width: none;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.center-mobile{display: none;}


img{max-width: 100%;}


.container{max-width: 560px; padding: 0 15px; margin: 0 auto; text-align: center;}


strong{font-weight: 500;}


.logo{margin-bottom: 40px;display: inline-block;}

h2,h1{font-size: 30px; font-weight: 500; letter-spacing: 1.5px; line-height: 1.5; margin: 50px 0 20px;}
h1 strong, h2 strong{font-weight: bold;}
h3{font-size: 28px; font-weight: bold; letter-spacing: 2px; word-spacing: 5px; margin-bottom: 11px;}

h4{font-size: 18px; font-weight: normal; letter-spacing: 0.9px; line-height: 1.6;margin-bottom: 47px;}


.btn{font-size: 14px;font-weight: 500; padding: 17px; text-decoration: none; display: inline-block; min-width: 212px; text-align: center; line-height: 1; letter-spacing: 1.4px; border: 1px solid transparent; cursor: pointer}

/*.btn +.btn{margin-left: 40px;}*/
.btn:nth-child(2n){margin-left: 40px;}

.btn_not-ios{
	margin-right: 40px;
}


.btn.social-btn img{margin: -11px 5px -11px 0;}
.btn img{margin-right: 5px;}


.btn-link{text-decoration: underline; color: #000; letter-spacing: 2.1px;}

.btn-yellow{background-color: #fbf074; color: #000; border-color: #fbf074;}
.btn-green{background-color: #009c4d; color: #fff; border-color: #009c4d;}
.btn-dark{background-color: #000; color: #fff; border-color: #000;}
.btn-border{background-color: #fff; color: #000; border-color: #000;}


.btn-hidden{display: none;}

.btn-disabled{cursor: not-allowed; opacity: 0.7;text-decoration: none;pointer-events: none;}

.title{font-weight: bold; font-size: 30px;letter-spacing: 2.2px; line-height: 1.5; margin: 40px 0 28px;}

.orange-text{color: #dd5725;}
.yellow-text{color: #cebe0c;}
.aqua-text{color: #61c2cc;}
.pink-text{color: #da4995;}




.steps{margin: 0 0 20px;}
.steps li{display: block;padding: 0; letter-spacing: 1.2px;}
.steps li + li{margin-top: -5px;}
.steps li span{font-size: 36px; font-weight: bold;}
.steps li:first-child span, .steps li:first-child strong{color: #cebe0c;}
.steps li:nth-child(2) span, .steps li:nth-child(2) strong{color: #61c2cc;}
.steps li:nth-child(3) span, .steps li:nth-child(3) strong{color: #da4995;}





/* Base for label styling */
.checkbox[type="checkbox"]:not(:checked),
.checkbox[type="checkbox"]:checked {position: absolute; left: -9999px;}
.checkbox[type="checkbox"]:not(:checked) + label,
.checkbox[type="checkbox"]:checked + label {position: relative; padding-left: 25px; cursor: pointer;}
.checkbox[type="checkbox"]:not(:checked) + label a,
.checkbox[type="checkbox"]:checked + label a{text-decoration: none; color: inherit;}


/* checkbox aspect */
.checkbox[type="checkbox"]:not(:checked) + label:before,
.checkbox[type="checkbox"]:checked + label:before {content: '';position: absolute;left: 0; top: 0;width: 14px; height: 14px;border: 1px solid #000;background: #fff;}
/* checked mark aspect */
.checkbox[type="checkbox"]:not(:checked) + label:after,
.checkbox[type="checkbox"]:checked + label:after {content: '✔';position: absolute;top: 3px; left: 3px;font-size: 13px;line-height: 0.8;color: #000;transition: all .2s;}
/* checked mark aspect changes */
.checkbox[type="checkbox"]:not(:checked) + label:after {opacity: 0;transform: scale(0);}
.checkbox[type="checkbox"]:checked + label:after {opacity: 1;transform: scale(1);}


input[type="file"] {
    /*display: none;*/

	position: absolute;
	left: -99999px;
	opacity: 0;
}
.input{width: 100%;padding: 10px 20px; height: 56px; border: 1px solid #da4995;margin: 12px 0; font-size: 16px; color: #000;font-weight: 500; font-family: "AvantGarde";}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 16px; color: #000;font-weight: 500; font-family: "AvantGarde";
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 16px; color: #000;font-weight: 500; font-family: "AvantGarde";
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 16px; color: #000;font-weight: 500; font-family: "AvantGarde";
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 16px; color: #000;font-weight: 500; font-family: "AvantGarde";
}


.input-box{margin: 20px 0;}

label.error{display: none!important;}

.agree-box{margin-bottom: 10px;}

.masks{margin: 0 -48px 10px;}
.masks li{display: inline-block;padding: 0 10px; margin-bottom: 22px;}
.masks li img{border-radius: 50%; border:2px solid #000;position: relative;}
.masks li span{display: block;font-size: 12px; font-weight: 500; margin-top: 7px;}
.masks li label{cursor: pointer;}
.masks li label input{position: absolute;left: -999999px;}
/*.masks li label input:checked + img{border-color: #009E52; box-shadow: 0 0 20px 1px rgba(0,158,82,.5);}*/
.masks li label input:checked + img{
	-webkit-filter: grayscale(100%);
 	filter: grayscale(100%);
 }





/*===========================================================================
MAIN CONTAINER
===========================================================================*/
.container.main{padding-top: 50px; padding-bottom: 140px; position: relative; min-height: 1180px;
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 5%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(255,255,255,0.7) 95%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 5%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(255,255,255,0.7) 95%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 5%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(255,255,255,0.7) 95%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.main-inner{position: relative;z-index: 1; min-height: 990px; padding-bottom: 70px;}
.home .main-container{min-height: 0; padding-bottom: 0;}

.main-inner-home{min-height: 360px;}

.home .container.main{padding-bottom: 50px; min-height: 0;}

.left-side-bg{position: absolute;top: 78px;left: -580px; max-width: none;}
.right-side-bg{position: absolute;top: 115px;right: -537px; max-width: none;}

.right-side-bg-mobile, .left-side-bg-mobile{display: none;}



.home .left-side-bg{position: absolute;top: 0;left: -780px; z-index: -1;}
.home .right-side-bg{position: absolute;top: 20px;right: -500px;}

.home .right-side-bg-mobile{display: none;}

.home.no-footer .right-side-bg{z-index: -1;}

.home.no-footer  h4 + .center-img{margin-top: 25px;}

.side-bg{overflow: hidden; position: relative;}


.hashtag{margin-top: 30px;}

.container.main .btn{margin-top: 20px;}



.title-img{margin: 70px 0 -70px; position: absolute;bottom: 0; left: 50%;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.title-img-home-mobile{display: none;}
.title-img-home{margin: 0 -100px; max-width: none;}

/*===========================================================================
END MAIN CONTAINER
===========================================================================*/


/*===========================================================================
HEADER
===========================================================================*/
.header{text-align: left;background-color: #fff;padding: 10px 30px;position: relative;}
.header img{vertical-align: top;}


.header .lang{position: absolute;top: 0;right: 0; color: #000;background-color: transparent; border-radius: 0;}

.header .lang.hover{color: #000;}

.lang{padding: 15px; position: absolute; top: 0;right: 0; display: inline-block;background-color: #fff; border-radius: 0 0 0 10px;}
.lang > span{display: block;width: 34px;padding-right: 10px;position: relative;z-index: 6; min-width: 0; height: auto; line-height: normal; padding: 0;text-align: left; cursor: pointer;}
.lang > span:after{content: '';width: 0;height: 0;border-style: solid;border-width: 4px 4px 0 4px;border-color: #e0e2e5 transparent transparent transparent; position: absolute; top: 50%; right: 0; margin-top: -2px;}
.lang ul{display: none; background-color: #ffffff;  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);  position: absolute; top: 0; left: 1px; width: 60px; padding-top: 40px; z-index: 5;}
.lang ul li{float: none;margin: 0;text-align: left;}
.lang ul li a{display: block;padding: 9px 20px 9px 15px; color: #000; text-decoration: none;}
.lang ul li a:hover{background-color: #000; color: #fff;}
.lang.hover ul{display: block;}
.lang.hover > span:after{border-width: 0 4px 4px 4px;border-color: transparent transparent #1c252a transparent;}

.lang-overlay {position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 2;}


/*===========================================================================
END HEADER
===========================================================================*/



/*===========================================================================
FOOTER
===========================================================================*/
.footer{position: relative; background-color: #fff;}
.footer-inner{background-color: #fcf173; max-width: 1320px; margin: 0 auto; position: relative; display: block;
    background-image: url(../img/img.png);
    background-repeat: no-repeat;
    background-position: center right 22px;
}
.footer:before{content: ''; position: absolute;height: 100px; top: -100px;left: -99999px;right: -99999px;background-color: #fff; z-index: -1;}

.home .footer:before{top: -360px; height: 360px;}


.footer .container{max-width: 100%;}
.footer-text, .footer .footer-left, .footer .footer-right{display: inline-block;vertical-align: middle;}
.footer-text{max-width: 545px;}
.footer-text p{letter-spacing: 1px; word-spacing: 3px;}


.footer .footer-left{margin-left: -80px; margin-right: -40px;}
.footer .footer-right{margin-top: 10px;}

.footer .banner-link{position: absolute;top: 0;left: 0; right: 0;bottom: 0;}




/*===========================================================================
END FOOTER
===========================================================================*/


/*===========================================================================
MAIN BOX
===========================================================================*/
.main-box{box-shadow: 0 0 10px -2px rgba(0,0,0,.5); margin: 0 0 20px; text-align: center; display: inline-block; max-width: 470px;}
.main-box img, .main-box video{vertical-align: top;}


.main-box .video-box{max-width: 470px; width: 100%;position: relative;}
.main-box .video-box .video-placeholder{position: absolute;top: 30px; left: 50%;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.main-box video{width: 100%; vertical-align: top;}





/*===========================================================================
END MAIN BOX
===========================================================================*/


/*===========================================================================
MODAl
===========================================================================*/
#modal, #email-modal, #download-modal{max-width: 740px;text-align: center; padding: 100px 158px 65px;position: relative;}
#modal .top-img,  #email-modal .top-img, #download-modal .top-img{position: absolute;top: 20px; left: 50%; margin-left: -37px;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
#modal .bottom-img, #email-modal .bottom-img, #download-modal .bottom-img{position: absolute;bottom: 40px; right: 45px;}
#modal p, #email-modal p, #download-modal p, #modal .text, #email-modal .text, #download-modal .text{font-size: 16px; line-height: 1.7; letter-spacing: 1px;}
#modal h3, #email-modal h3, #download-modal h3{letter-spacing: 4px; margin: 0 0 15px;}
#modal form, #email-modal form,  #download-modal form{margin-top: 13px;}
#modal .btn, #email-modal .btn, #download-modal .btn{margin-top: 23px;margin-left: 0;}


#terms{max-width: 740px; padding: 65px 58px 10px;position: relative;}

#terms p+p{margin-top: 15px;}




/*===========================================================================
END MODAl
===========================================================================*/


/*===========================================================================
RESPONSIVE STYLE
===========================================================================*/
@media (max-width: 1340px){
	.footer-inner{background-image: none;}
	.footer .footer-left{max-width: 340px;margin-right: -30px;}
	.footer .footer-right{max-width: 230px;}
}

@media (max-width: 1100px){
	.footer .footer-left{max-width: 260px;margin-left: -30px;}
	.footer .footer-right{max-width: 170px;}
}

@media (max-width: 990px){
	/* .footer .footer-left{max-width: 220px;}
	.footer .footer-right{max-width: 200px;} */
	.footer-text{max-width: 435px;}
	.footer-text h3{font-size: 20px;}

	h1,h2{font-size: 26px; margin: 35px 0 20px;}
	h3{font-size: 23px;}
	h4{font-size: 16px;}

	.title{font-size: 26px;}

	.center-img{max-width: 750px;}
}

@media (max-width: 860px){
	.footer-text{display: block; margin: 20px auto; max-width: 460px;}
	.footer .footer-left{margin: 0;}
	.footer-inner{padding-top: 20px;}

	.footer .footer-right{max-width: 200px;}
	.footer .footer-left{max-width: 300px;}
}

@media (max-width: 767px){

	.visible-mobile{display: block!important;}
	body{background-size: cover; background-attachment: initial; }
	.center-img{display: none;}
	.center-mobile{display: block;max-width: 400px; margin: 30px auto 0; width: 100%;}

	.title-img {margin: 35px 0 0px;max-width: 350px; position: relative; left: 0; width: 100%;
		-webkit-transform: translate(0, 0);
	    -moz-transform: translate(0, 0);
	    transform: translate(0,0);
	}

	.main-inner{padding-bottom: 0; min-height: 0;}

	.title-img-home{display: none;}
	.title-img-home-mobile{display: block; margin: 30px auto -20px;}

	.header img{max-width: 175px;}

	.second-logo{max-width: 330px; width: 100%;}
	.logo img{max-width: 240px;}

	.home .side-bg{padding-top: 400px;}

	.main-inner-home{min-height: 0;}

	.home .left-side-bg{top: -400px;max-width: 570px; left: -220px;}
	.home .right-side-bg{display: none;}
	.home .right-side-bg-mobile{display: block; top: -380px;max-width: 310px; right: -80px; position: absolute; z-index: -1;}
	.home .container.main{background: #fff;}

	.side-bg:before{content: ''; position: absolute;top: 600px; left: 0;right: 0;bottom: 0;
		background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 21%, rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 21%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 21%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );

	}

	.footer{width: 100%;overflow: hidden; background-color: #ccc;}
	.footer:before{left: 0;right: 0; display: none;}
	.footer-inner{max-width: 100%;}

	body:not(.home) .left-side-bg, body:not(.home) .right-side-bg{display: none;}

	.left-side-bg-mobile{position: absolute; top: 80px;left: -200px;display: block;}
	.right-side-bg-mobile{position: absolute; top: 90px;right: -170px; display: block;}

	.container.main{padding-bottom: 40px;padding-top: 25px;}

	.masks{margin-left: 0; margin-right: 0;}

	.btn{display: block; max-width: 90%; width: 100%; margin-left: auto!important; margin-right: auto!important;}
	.btn:nth-child(2n){margin-left: 0;}
	.btn_not-ios{
		margin-right: 0;
	}

	#modal, #email-modal, #download-modal{padding: 75px 50px 35px;}
	#modal .bottom-img, #email-modal .bottom-img, #download-modal .bottom-img{max-width: 100px;right: 15px; bottom: 20px;}
}



@media (max-width: 540px){
	.home .side-bg{padding-top: 250px;}
	.home .left-side-bg{max-width: 450px;top: -260px; left: -130px;}
	.home .right-side-bg-mobile{top: -240px; right: 10px; max-width: 190px;}

	#modal, #email-modal, #download-modal{padding: 35px 15px 15px;}
	.fancybox-close{top: 12px!important; right: 12px!important;}
	#modal, #email-modal, #download-modal{overflow: hidden;}
	#modal .top-img, #email-modal .top-img, #download-modal .top-img{top: 0;max-width: 290px; margin-left: -17px;}
	#modal .bottom-img, #email-modal .bottom-img, #download-modal .bottom-img{bottom: -10px; right: -43px;max-width: 70px;}
	#modal form, #email-modal form, #download-modal form{position: relative; z-index: 1;}
	#modal h3, #email-modal h3, #download-modal h3{position: relative;z-index: 1; font-size: 18px;}
	#modal p, #email-modal p, #download-modal p{font-size: 12px;}
	#modal p br, #email-modal p br, #download-modal p br{display: none;}
	.input{height: 50px;}

	.second-logo {max-width: 270px;}
	h1, h2 {font-size: 20px; margin: 15px 0 15px;}
	h4 {font-size: 14px; margin-bottom: 20px;}
	.btn{padding: 15px;}
	.footer-text h3 {font-size: 17px;}
	.title {font-size: 22px;}
	.title-img{max-width: 300px;}

	.steps li span{font-size: 26px;}


}


@media (max-width: 500px){
	.home .right-side-bg-mobile{right: -20px;}
}


@media (max-width: 450px){
	.home .right-side-bg-mobile{right: -50px;}
}

@media (max-width: 410px){
	.home .right-side-bg-mobile{right: -90px; z-index: -2;}
}

@media (max-width: 359px){
	.masks{overflow: hidden;}
	.masks li span{font-size: 11px;}
	.masks li{width: 50%;float: left;}
	.masks li:nth-child(odd){clear: both;}
}




/*===========================================================================
END RESPONSIVE STYLE
===========================================================================*/







/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp{padding:0;margin:0;border:0;outline:none;vertical-align:top;}
.fancybox-wrap{position:absolute;top:0;left:0;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);z-index:8020;}
.fancybox-skin{position:relative;background:#fff;text-shadow:none; padding: 0!important;}
.fancybox-opened{z-index:8030;}
.fancybox-opened .fancybox-skin{}
.fancybox-outer, .fancybox-inner{position:relative;}
.fancybox-inner{overflow:hidden;}
.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch;}
.fancybox-error{color:#444;margin:0;padding:15px;white-space:nowrap;}
.fancybox-image, .fancybox-iframe{display:block;width:100%;height:100%;}
.fancybox-image{max-width:100%;max-height:100%;}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span{/*background-image:url(fancybox_sprite.png);*/
}
#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:0.8;cursor:pointer;z-index:8060;}
#fancybox-loading div{width:44px;height:44px;background:url(../img/fancybox_loading.gif) center center no-repeat;}
.fancybox-close{position:absolute;top:42px;right:30px;width:30px;height:30px;cursor:pointer;z-index:8040;background:url(../img/close.png) no-repeat;}
.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040;}
.fancybox-prev{left:0;}
.fancybox-next{right:0;}
.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden;}
.fancybox-prev span{left:10px;background-position:0 -36px;}
.fancybox-next span{right:10px;background-position:0 -72px;}
.fancybox-nav:hover span{visibility:visible;}
.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;max-width:99999px;max-height:99999px;overflow:visible !important;}
/* Overlay helper */
.fancybox-lock{overflow:visible !important;width:auto;}
.fancybox-lock body{overflow:hidden !important;}
.fancybox-lock-test{overflow-y:hidden !important;}
.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:rgba(0,0,0,.54);}
.fancybox-overlay-fixed{position:fixed;bottom:0;right:0;}
.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll;}
/* Title helper */
.fancybox-title{visibility:hidden;position:relative;text-shadow:none;z-index:8050;}
.fancybox-opened .fancybox-title{visibility:visible;}
.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center;}
.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:transparent;/* Fallback for web browsers that doesn't support RGBa */
background:rgba(0, 0, 0, 0.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:bold;line-height:24px;white-space:nowrap;}
.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff;}
.fancybox-title-inside-wrap{padding-top:10px;}
.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0, 0, 0, .8);}



@media(max-width: 540px){
	.fancybox-close{background-size: 20px;width: 20px;height: 20px;}
}



/*Dropdown*/

.ddcommon {position:relative;display:-moz-inline-stack; zoom:1; display:inline-block; *display:inline; cursor:default;}
.ddcommon ul{padding:0;margin:0;}
.ddcommon ul li{list-style-type:none;}
.borderRadiusTp ul li:last-child{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;border-bottom:0 none #c3c3c3; }
.borderRadiusBtm ul li:first-child{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0 ;border-bottom:1px solid #c3c3c3; }

.ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll{
opacity: .5; /* standard: ff gt 1.5, opera, safari */
-ms-filter:"alpha(opacity=50)"; /* ie 8 */
filter:alpha(opacity=50); /* ie lt 7 */
-khtml-opacity:.5; /* safari 1.x */
-moz-opacity:.5; /* ff lt 1.5, netscape */
color:#999999;
}
.ddcommon .clear{clear:both}
.ddcommon .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.ddcommon input.text{color:#7e7e7e;padding:0 0 0 0; position:absolute; background:#fff; display:block; width:98%; height:98%; left:2px; top:0; border:none;}
.ddOutOfVision{position:relative; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}
.borderRadius .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.borderRadiusBtm .shadow{-moz-box-shadow:-5px -5px 5px -5px #888888;-webkit-box-shadow:-5px -5px 5px -5px #888888;box-shadow: -5px -5px 5px -5px #888888}
.borderRadiusTp .border, .borderRadius .border{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;}
.borderRadiusBtm .border{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
img.fnone{float:none !important}
.ddcommon .divider{width:0; height:100%; position:absolute;}
.ddcommon .ddArrow{display:inline-block; position:absolute; top:50%; right:16px;}
/*.ddcommon .ddArrow:hover{background-position:0 100%;}*/
.ddcommon .ddTitle{padding:0; position:relative; display:inline-block; width:100%}
.ddcommon .ddTitle .ddTitleText{display:block;}
.ddcommon .ddTitle .ddTitleText .ddTitleText{padding:0;}
.ddcommon .ddTitle .description{display:block;}
.ddcommon .ddTitle .ddTitleText img{position:relative; vertical-align:middle; float:left}
.ddcommon .ddChild{position:absolute;display:none;width:100%;overflow-y:auto; overflow-x:hidden; zoom:1; z-index:9999}
.ddcommon .ddChild li{clear:both;}
.ddcommon .ddChild li .description{display:block;}
.ddcommon .ddChild li img{border:0 none; position:relative;vertical-align:middle;float:left}
.ddcommon .ddChild li.optgroup{padding:0;}
.ddcommon .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.ddcommon .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.ddcommon .noBorderTop{border-top:none 0  !important; padding:0; margin:0;}

/*************** default theme **********************/
.dd{border: none; width: 100%!important; margin-bottom: 12px; margin-top: 12px; text-align: left;cursor: pointer;}
.dd .divider{display: none;}
.dd .ddArrow{width:16px;height:11px; margin-top:-4px; background:url(../img/arrow.png) no-repeat;}

.dd .ddTitle{color:#000;background:#f2f2f2;}
.dd .ddTitle .ddTitleText{padding:9px 35px 9px 20px; font-size: 16px; color: #000;font-weight: 500; text-align: left;}
.dd .ddTitle .ddTitleText .ddTitleText{padding:0;}
.dd .ddTitle .description{font-size:12px; color:#666}
.dd .ddTitle .ddTitleText img{padding-right:10px; vertical-align: -1px;}
.dd .ddChild{ background-color:#fff; border: 1px solid #c3c3c3; }
.dd .ddChild li{padding:8px 20px; background-color:#fff; border-bottom:1px solid #c3c3c3; cursor: pointer;}
.dd .ddChild li .description{color:#666;}
.dd .ddChild li .ddlabel{color:#333;}
.dd .ddChild li.hover{background-color:#f2f2f2}
.dd .ddChild li img{padding:0 6px 0 0;}
.dd .ddChild li.optgroup{padding:0;}
.dd .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.dd .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.dd .ddChild li.selected{background-color:#d5d5d5; color:#000;}


/* fixes 27.01.18 */

.checkbox[type="checkbox"]:not(:checked) + label:after, .checkbox[type="checkbox"]:checked + label:after {
	display: block;
}

.input_hidden{
	position: absolute;
	left: -9999px;
}

.form-loading{
	position: relative;
}

.form-loading:after{
	position: absolute;
	height: 90%;
	z-index: 20;
	content: '';
	background: #fff url("../img/new-loader.gif") no-repeat top center;
	background-size: 100%;
	background-size: contain;
	opacity: 0.95;

	left: -5%;
	top: 0;
	right: -5%;
	width: 110%;
}

.form-loading-video{
	position: relative;
}

.form-loading-video:after{
	position: absolute;
	height: 93%;
	z-index: 20;
	content: '';
	background: #fff url("../img/new-loader.gif") no-repeat center;
	background-size: 100%;
	background-size: contain;
	opacity: 0.95;

	left: -5%;
	top: 0;
	right: -5%;
	width: 110%;
}

.buttons .btn{

}

.buttons_main .btn:nth-child(2n){
	margin-left: 0;
}

.container.main_step1,
.container.main_step3{
	min-height: 830px;
}

.main-inner_step1,
.main-inner_step3{
	min-height: 640px;
}

.left-side-bg_step1,
.left-side-bg_step3{
	top: auto;
	bottom: 20px;
}

.left-side-bg_step1-video{
	left: -620px;
}

.right-side-bg_step1,
.right-side-bg_step3{
	top: auto;
	bottom: 20px;
}

@media (max-width: 400px){
	.header{
		padding: 5px 15px;
	}

	.header img {
		max-width: 140px;
	}

	.home .left-side-bg {
		max-width: 370px;
		top: -250px;
		left: -90px;
	}

	.home .right-side-bg-mobile {
		right: -50px;
	}

	.home .container.main {
		padding-top: 20px;
	}

	.second-logo {
		max-width: 220px;
	}

	.main-inner-home h1{
		font-size: 18px;
	}

	.container.main .buttons .btn,
	form label.btn{
		margin-top: 20px;
		max-width: 280px;
		padding: 20px 15px;
		font-size: 18px;
    }

	/*form label.btn{*/
		/*max-width: 280px;*/
		/*padding: 23px 5px;*/
	/*}*/

    .title-img-home-mobile{
	    max-width: 280px;
    }

	.container.main .btn-link{
	    text-transform: uppercase;
	    font-size: 12px;
	    padding: 15px 2px;
		letter-spacing: 0.5px;
    }

	.footer-text h3 {
		font-size: 18px;
		max-width: 280px;
		margin: 0 auto;
		letter-spacing: 1px;
	}

	.right-side-bg-mobile {

	}

	.left-side-bg-mobile {
		position: absolute;
		top: 65px;
		left: -70px;
		max-width: 165px;
	}

	.main-inner .title {
		margin: 20px 0 18px;
		font-size: 20px;
		letter-spacing: 1.5px;
	}

	.main-inner .title span{
		display: block;
	}

	.main-box img,
	.main-box video{
		vertical-align: top;
		max-width: 280px;
	}

	.steps li span {
		font-size: 30px;
	}

	.steps li strong {
		font-weight: 500;
		letter-spacing: 1px;
		font-size: 13px;
	}

    .main-inner h5{
	    max-width: 280px;
	    margin-left: auto;
	    margin-right: auto;
    }

	.main-inner .title.yellow-text{
		font-size: 18px;
	}

	.steps li + li {
		margin-top: 15px;
		line-height: 1.5em;
	}

	.form-loading:after{
		height: 500px;
		left: 0;
		right: 0;
		width: 100%;
	}

    .main_step2 .form-loading:after{
	    height: 1150px;
	    background-position: bottom center;
    }

    .right-side-bg-mobile_t{
	    right: -45px;
	    max-width: 120px;
    }

    body{
	    background-position: top 0 left 49%;
    }
}

@media (max-width: 355px) {
	.home .left-side-bg {
		left: -120px;
	}

	.home .right-side-bg-mobile {
		right: -70px;
	}
}

.btn_ios{
	display: none;
}

.iOS .btn_ios{
	display: inline-block;
}

.iOS .btn_not-ios{
	display: none;
}

.fancybox-inner .text{
	letter-spacing: 0 !important;
	font-family: "AvantGarde" !important;
	font-size: 14px !important;
	color: #000000;
	line-height: 1.4em !important;
	max-width: 340px;
	margin-left: auto;
	margin-right: auto;
}

.fancybox-inner .text_pt{
	padding-top: 40px;
}

.text strong {
	display: block;

}
.video-container video{
	width: 384px;
	display: block;
	height: 512px;
	margin: 0 auto;
	border: 1px solid #000;
}


.show-video{
	/*//opacity: 0.1;*/
}

@media (max-height: 768px) {
	#modal, #email-modal, #download-modal {
		padding-top: 50px;
	}

	.fancybox-inner .input{
		margin: 3px 0;
	}

	.fancybox-inner .input-box {
		margin: 5px;
	}

	.fancybox-inner form{
		margin-top: 5px;
	}
}


@media (max-width: 767px) and  (max-height: 768px) {
	#modal, #email-modal, #download-modal {
		padding-top: 30px;
	}

	#modal h3, #email-modal h3, #download-modal h3 {
		margin-bottom: 5px;
	}

	#modal .text, #email-modal .text, #download-modal .text {
		/*font-size: 12px !important;*/
		/*letter-spacing: 0;*/
		/*line-height: 1.3em !important;*/
		max-width: 220px;
		margin-left: auto;
		margin-right: auto;
	}

	.text strong{
		font-weight: bold;
		display: inline;
	}

	.text span{
		display: inline;
	}

	#modal form, #email-modal form, #download-modal form {
		margin-top: 3px;
	}

	.fancybox-inner .input{
		margin: 5px 0;
		height: 35px;
	}

	#modal .btn, #email-modal .btn, #download-modal .btn {
		margin-top: 13px;
	}

	.fancybox-inner{
		height: auto !important;
	}
}

@media (max-width: 500px){
	.main-inner .title_vp{
		margin: 45px 0 18px;
	}
}


.video-wrapper{
	position: relative;
	max-width: 384px;
	margin-left: auto;
	margin-right: auto;
}

.video-btns{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 60px;
	width: 100%;
	display: block;
	padding: 10px 10px;
	text-align: center;
	background: rgba(0,0,0,0.5);
}

.video-btn{
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	width: 40px;
	transition: all ease 0.3s;
	border: none;
	cursor: pointer;

	background: #ff0000;
	border-radius: 50%;
	position: relative;
	opacity: 0.75;
}

.video-btn_start{

}

.video-btn_start:hover{
	opacity: 1;
}

.video-btn_start:before{
	position: absolute;
	width: 36px;
	height: 36px;
	top: 1px;
	left: 1px;
	border: 1px solid rgba(255,255,255,0.8);
	content: '';
	display: block;
	border-radius: 50%;
}

.video-btn_stop{
	opacity: 0.75;
	cursor: default;
	border-radius: 1px;
}

.video-btn_stop:before{
	position: absolute;
	width: 36px;
	height: 36px;
	top: 1px;
	left: 1px;
	border: 1px solid rgba(255,255,255,0.8);
	content: '';
	display: block;
	border-radius: 1px;
}

.video-btn_stop:hover{
	opacity: 1;
}

.video-timer{
	display: inline-block;
	vertical-align: middle;
	color: #ffffff;
	margin-left: 40px;
	font-size: 24px;
	position: absolute;
	line-height: 60px;
	right: 20px;
	bottom: 0;
}

.video-form{
	position: absolute;
	left: -99999px;
	opacity: 0;
}

.btn_ml20{
	margin-left: 20px;
}

@media (min-width: 768px) and (max-width: 1600px){
	.home .left-side-bg_main{
		left: -620px;
		max-width: 760px;
	}
}

@media (min-width: 1000px) and (max-width: 1350px){
	.home .left-side-bg_main{
		left: -520px;
		max-width: 640px;
	}
}


@media (min-width: 1000px) and (max-width: 1200px){
	.home .left-side-bg_main{
		left: -350px;
		max-width: 500px;
	}
}

.btn_mw240{
	min-width: 240px;
}


.footer-text_en h3,
.footer-text_en p{


}

.footer .footer-right_en,
.footer .footer-left_en{
	display: none;
}

.footer-text_en h3 {
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 1.3em;

}

.footer-text_en p{
	letter-spacing: 1px;
	line-height: 1.3em;
	font-size: 17px;
}


@media (max-width: 768px){

	.footer .footer-default-img{
		display: none;
	}


	.footer .footer-right_en,
	.footer .footer-left_en{
		display: inline-block;
	}

	.footer-text_en h3{
		font-size: 20px;
		margin-bottom: 10px;
		letter-spacing: 2px;
		text-transform: uppercase;
		line-height: 1.3em;
		max-width: 310px;
		margin-top: 5px;
		margin-left: auto;
		margin-right: auto;
	}

	.footer-text_en p{
		font-size: 15px;
		letter-spacing: 1px;
		line-height: 1.3em;
	}

	.footer .footer-right_en{
	    margin-bottom: 30px;
	    margin-top: -5px;
	    max-width: 280px;
    }
}

.btn_ttu{
	text-transform: uppercase;
}

.steps_ru{
	text-align: center;
	max-width: 400px;
	margin: 20px auto 0;
}

.fancybox-inner .text_pt_ru{
	padding-top: 40px;
	max-width: 360px;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.3em;
}

.tutorial_ru,
.tutorial_en{
	font-family: 'Tahoma', Arial, sans-serif;
}

.tutorial_ru h3,
.tutorial_en h3{
	margin-bottom: 15px;
	font-family: 'Tahoma', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2em;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.tutorial_ru p,
.tutorial_en div{
	margin-bottom: 10px;
	text-align: justify;
	font-size: 14px;
	line-height: 1.2em;
}

.ru_RU{
	font-family: Arial, sans-serif;
}

.footer_ru h3,
.footer_en h3{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	word-spacing: 5px;
	margin-bottom: 11px;
}

.footer_ru p,
.footer_en p{
	font-size: 16px;
	letter-spacing: 1px;
	word-spacing: 5px;
	line-height: 1.5em;
}

#modal h3.modal-title_new{
	max-width: 400px;
	margin: 10px auto 15px;
}

#modal h3.modal-title_new-ru,
#modal h3.modal-title_new-en{
	max-width: 350px;
	margin: 10px auto 15px;
	font-family:  Arial, sans-serif;
	letter-spacing: 1px;
}

.tutorial_en{
	padding-right: 20px;
}

@media (max-width: 768px) {
	#terms {
		padding: 65px 10px 10px;
	}

	.tutorial_ru p,
	.tutorial_en div{
		margin-bottom: 10px;
		text-align: justify;
		font-size: 12px !important;
		line-height: 1.2em;
	}

	.tutorial_ru h3,
	.tutorial_en h3{
		font-size: 12px;
	}

	.steps_ru{
		max-width: 260px;
	}

	.tutorial_en{
		padding-right: 0;
	}
}

@media (max-width: 1024px){
	html {
		-webkit-text-size-adjust: 100%;
	}
}





